#about {
    color:black;
    padding: 10px 20px;
}

#experience {
    color:black;
    padding: 10px 20px;
}

#projects{
    color:black;
    padding: 10px 20px;
    /* margin-right: 3px; */
}

#contact{
    color:black;
    padding: 10px 20px;
    margin-right: 100px;
}

#navbarLogo{
    margin-left: 50px;
}

#introHi{
    text-align: left;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-bottom: 20px;
}

#introName{
    text-align: left;
    color: aquamarine;
    font-size: 60px;
    margin-bottom: 5px;
    /* font-weight: 500; */
}

#introTaget{
    text-align: left;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 70px;
}

#introCurrentTarge{
    text-align: left;
    font-size: 20px
}

#navBarLogo{
    text-align: right;
}

#introImage {
    width: 500px;
    height: 500px;
}

html {
    scroll-behavior: smooth;
  }

#submit {
    display: inline-block;
    vertical-align: top;
    /* margin-left: 20rem; */
    text-align: right;
    /* margin-right: 100rem; */
    white-space: normal
}

#message {
    height: 200px;
}

/* #contact {
    background-color: burlywood;
}

#form {
    background-color:blanchedalmond;
} */
