#about {
    color:darkgoldenrod;
    padding: 10px 20px;
}

#experience {
    color:red;
    padding: 10px 20px;
}

#projects{
    color:black;
    padding: 10px 20px;
    /* margin-right: 3px; */
}

#contact{
    color:green;
    padding: 10px 20px;
    margin-right: 100px;
}

#intro{
    text-align: left;
}

#navBarLogo{
    text-align: right;
}

#introImage {
    width: 500px;
    height: 500px;
}

html {
    scroll-behavior: smooth;
  }

#submit {
    display: inline-block;
    vertical-align: top;
    /* margin-left: 20rem; */
    text-align: right;
    /* margin-right: 100rem; */
    white-space: normal
}

#message {
    height: 200px;
}

/* #contact {
    background-color: burlywood;
}

#form {
    background-color:blanchedalmond;
} */
