<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
        <img src="images/devops-logo.png" alt="devops-logo" height="36">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" id="about" href="#aboutMe">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="experience" href="#myExperience">Experience</a>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link" id="about" href="/about">About Me</a> -->
            <a class="nav-link" id="projects" href="#myProjects">Projects</a>
        </li>
            <a class="nav-link" id="contact" href="#myContact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<!-- <div class="container">
  <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
  <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap! Make sure to set the height
    of the logo within the HTML or using CSS. For best results, use an SVG image as your logo.</p>
</div> -->
