<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-4">
            <div id="aboutMe">
                <p>About me</p>
                <div id="aboutMeContent">
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
                    laboriosam voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
                    nobis?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-5 mt-5">
            <div class="img-fluid">
                <img src="https://images.unsplash.com/photo-1545235617-9465d2a55698?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80"
                    alt="intro-image" id="introImage">
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
