<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-lg-5">
            <div id="aboutMe">
                <p>About me</p>
            </div>
                <hr>
                <div id="aboutMeContent">
                    <p>
                    Hello! My name is Ondrej Halaska and I am working as a DevOps Engineer for more than 2 years. I like variety of tasks and
                    challenges that SDLC brings. These aspects have power to deepen my expertise and push me further in the career.
                    </p>
                    <p>
                    I have experience working in client facing role during short-term MVP projects in one of the biggest IT companies as well as 
                    mid-size companies. 
                    </p>
                    <p>
                    Currently, the main focus is automating processes that help developers to develop new features
                    faster.
                    </p>
                    <div>
                    <div>
                        <h3 id="technogolies">
                            Recent technologies I have been working with:
                        </h3>
                    </div>
                        <div class="row" id="technologiesContent">
                            <div class="col-6">
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    Docker
                                </p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    Terraform
                                </p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    AWS
                                </p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    Bash
                                </p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    Node.js
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    Kubernetes
                                </p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    OpenShift
                                </p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    Travis CI
                                </p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    GitLab CI
                                </p>
                                <p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" width="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                    </svg>
                                    GitHub Actions
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-5">
            <br>
            <br>
            <!-- <br> -->
            <div>
                <img src="https://images.unsplash.com/photo-1545235617-9465d2a55698?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80"
                    alt="intro-image" id="introImage">
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
