<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <h1>Admin Protected Resource</h1>
    <div style="color:seagreen"><%= success %></div>
    <p>You are logged in as: <b><%= username %></b></p>
    <p>Assigned role: <b><%= role %></b></p>
    <form action="/logout" method="POST">
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Log out</button>
        </div>
    </form>
</body>

</html>
