<% layout('layouts/boilerplate') %>
<div class="row justify-content-around">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
        laboriosamvoluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
        nobis?
    </p>
    <form>
        <div class="containe  col-md-offset-6">
            <div class="form-row">
                <div class="form-group col-md-8 mt-5">
                    <label for="inputEmail4">Your email address:</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="john.wick@gmail.com">
                </div>
            </div>
            <div class="form-group col-md-8 mt-4">
                <label for="inputAddress">Your Message:</label>
                <textarea type="text" class="form-control" id="message"
                    placeholder="Enter your message"></textarea>
                    <button type="button" class="btn btn-primary mt-3 mb-5"
                    id="submit">Submit
                    </button>
            </div>
        </div>
        <!-- <div>
            <button type="submit" class="btn btn-primary mt-1 mb-2" id="submit">Shit 2</button>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-12 text-center ">
        <button id="test" class="btn btn-primary btn-md center-block" Style="width: 100px;"
                    OnClick="btnSearch_Click">Submit 3</button>
        <button type="button" class="btn btn-primary btn-md pull-right"
                    id="right-panel-link">Submit 4</button>
        </div>
        </div> -->
    </form>

</div>
