<% layout('layouts/boilerplate') %>

<div class="container" id="myExperience">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-4">
            <div id="workExperience">
                <p>Working Experience</p>
                <hr>
            </div>
                <div id="workExperienceContent">
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
                    laboriosam voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
                    nobis?
                    </p>
                </div>
        </div> 
        <div class="col-5" id="workExperienceContent2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus placeat odit inventore animi et architecto assumenda labore provident! Sit velit nostrum suscipit laboriosam molestiae quasi, id maxime veniam temporibus expedita.</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>
