<% layout('layouts/boilerplate') %>

<div class="container" id="myExperience">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-lg-5">
            <div id="workExperience">
              <p>Working Experience</p>
              <hr>
            </div>
              <div id="workExperienceContent">
                  <!-- <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
                  laboriosam voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
                  nobis?
                  </p> -->
              </div>
              <div class="d-flex align-items-start">
                  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">ti&m</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">IBM</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Diebold Nixdorf</button>
                  </div>
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div id="jobTitle">
                        <h5>DevOps Engineer <span style="color: blue">@ ti&m</span></h5>
                      </div>
                      <div id="startDate">
                        <p>July 2022 - present</p>
                      </div>
                      <div id="jobContent">
                        <div class="container" style="padding: 0px;">
                          <div class="row">
                            <div class="col-1">
                              <i class="bi bi-caret-right-fill"></i>
                            </div>
                            <div class="col-10">
                              <!-- <ul class="list-unstyled"> -->
                                <!-- <ul class="list-inline list-unstyled">
                                <li><i class="bi bi-caret-right-fill"></i>
                                  Developed faster, scalable and inexpensive solution
                                  for running build jobs within CI pipeline.
                                </li>
                                </ul> -->
                              Developed faster, scalable and inexpensive solution
                              for running build jobs within CI pipeline.
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-1">
                              <i class="bi bi-caret-right-fill"></i>
                            </div>
                            <div class="col-10">
                              Enhanced security posture by implementating an
                              automated solution for commit signing, including
                              functionality that gathers statistical data on how many
                              developer is using commit signing.
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-1">
                              <i class="bi bi-caret-right-fill"></i>
                            </div>
                            <div class="col-10">
                              Enabled developers to deliver new features faster by
                              developing a solution that produces higher code
                              quality by implementing  code checks before pushing
                              to a repository.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <div id="jobTitle">
                        <h5>DevOps Engineer <span style="color: blue">@ IBM</span></h5>
                      </div>
                      <div id="startDate">
                        <p>July 2020 - April 2022</p>
                      </div>
                      <div id="jobContent">
                      <div class="container" style="padding: 0px; text-align: left;">
                        <div class="row">
                          <div class="col-1">
                            <i class="bi bi-caret-right-fill"></i>
                          </div>
                          <div class="col-10">
                            Consulting regarding AWS services, CI/ CD processes, 
                            optimization of SDLC, and security best practices.
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-1">
                            <i class="bi bi-caret-right-fill"></i>
                          </div>
                          <div class="col-10">
                            Delivered end-to-end solution (communication with
                            stakeholders, application requirements definition, solution 
                            architecture design, CI/ CD tools & processes, and operations 
                            aspects).
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-1">
                            <i class="bi bi-caret-right-fill"></i>
                          </div>
                          <div class="col-10">
                            Build a MVP solution based on OpenShift and Tekton to demonstrate CI/ CD process,
                            and supporting Lead Architect in Kubernetes-based project (Helm charts).
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <!-- <h5>Security Administrator</h5>
                    <h5><span style="color: blue">@ Diebold Nixdorf</span></h5> -->
                    <div id="jobTitle">
                      <h5>Security Admin<span style="color: blue"> @ DN</span></h5>
                    </div>
                    <div id="startDate">
                      <p>January 2018 - May 2020</p>
                    </div>
                    <div id="jobContent">
                      <div class="container" style="padding: 0px; text-align: left;">
                        <div class="row">
                          <div class="col-1">
                            <i class="bi bi-caret-right-fill"></i>
                          </div>
                          <div class="col-10">
                            Analysis and handling of security events and incidents (network and physical
                            security, file integrity monitoring; SIEM tools: RSA-SA, ELISA).
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-1">
                            <i class="bi bi-caret-right-fill"></i>
                          </div>
                          <div class="col-10">
                            Consulting SOC-related services for customers, and
                            providing security awareness (PCI DSS and ISO 27001).
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-1">
                            <i class="bi bi-caret-right-fill"></i>
                          </div>
                          <div class="col-10">
                            Responsibility for fulfilling PCI DSS and PCI TSP requirements from the
                            security perspective, and managing the process of evidence gathering 
                            during the PCI DSS and PCI TSP audits.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
              </div>
        </div>
        <!-- <div class="col-5" id="workExperienceContent2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Possimus placeat odit inventore animi et architecto assumenda
                labore provident! Sit velit nostrum suscipit laboriosam molestiae
                quasi, id maxime veniam temporibus expedita.
            </p>
        </div> -->
        <div class="col">
        </div>
    </div>
</div>
