<% layout('layouts/boilerplate') %>

<div class="container" id="myExperience">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-4">
            <div id="workExperience">
                <p>Working Experience</p>
                <hr>
            </div>
                <div id="workExperienceContent">
                    <!-- <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
                    laboriosam voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
                    nobis?
                    </p> -->
                </div>
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">ti&m</button>
                      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">IBM</button>
                      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Diebold Nixdorf</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                       <p>ti&m experience...</p>
                       <p>ti&m experience...</p>
                       <p>ti&m experience...</p>
                    </div>
                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <p>IBM experience...</p>
                        <p>IBM experience...</p>
                        <p>IBM experience...</p>
                      </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <p>Diebold Nixdorf experience...</p>
                        <p>Diebold Nixdorf experience...</p>
                        <p>Diebold Nixdorf experience...</p>
                      </div>
                    </div>
                </div>
        </div> 
        <!-- <div class="col-5" id="workExperienceContent2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Possimus placeat odit inventore animi et architecto assumenda 
                labore provident! Sit velit nostrum suscipit laboriosam molestiae 
                quasi, id maxime veniam temporibus expedita.
            </p>
        </div> -->
        <div class="col">
        </div>
    </div>
</div>
