<% layout('layouts/boilerplate') %>
<div class="container">
    <div>
        <div class="row justify-content-around">
            <%- include('intro') %>
        </div>

        <div class="row justify-content-around" id="aboutMe">
            <%- include('about') %>
        </div>

        <div class="row justify-content-around">
            <div class="col-lg-6 mt-5" id="myExperience">
                <h1>Here goes Work experience</h1>
                    <%- include('experience') %>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-lg-6 mt-5" id="myProjects">
                <h1>Here go Projects</h1>
                    <%- include('projects') %>
            </div>
        </div>
    </div>
</div>
