<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <div class="col-lg-6" id="introHi">
                <p>Hi there, my name is</p>
            </div>
            <div class="col-lg-6" id="introName">
                <p>Mr. DevOps.</p>
            </div>
            <div  class="col-lg-10" id="introTaget">
                <p>I help companies to deliver new features faster to their clients.</p>
            </div>
            <div class="col-lg-8" id="introCurrentTarget">
                <p>
                I am a DevOps Engineer who is currently helping to automate setup of an environment for
                developers to stay solely focused on code.
                </p>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
