<% layout('layouts/boilerplate') %>

<div class="row justify-content-around">
    <div class="col-lg-11" id="intro">
        <h1 >Here goes short introduction</h1>
        <h2>Short Introduction</h2>
        <div class="col-lg-6" id="intro">
            <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Numquam hic deleniti sed architecto vitae magni
                laboriosam
                voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
                nobis?</p>
        </div>
    </div>
</div>  
    