<% layout('layouts/boilerplate') %>
<!-- <div class="col-lg-11">
    <div class="col-lg-6" id="introHi">
        <h8>Hi there, my name is </h8>
    </div>
    <div class="col-lg-6" id="introName">
         <h1>Mr. DevOps.</h1>
         <p>Mr. DevOps.</p>
    </div>
    <div class="col-lg-6" id="introTaget">
        <h>I help companies to deliver new features faster to their clients.</p>
    </div>
    <div class="col-lg-6" id="introCurrentTarge">
        <p>
        I am DevOps Engineer who is currently helping to automate environment for developers to stay solely focused on code.
        I have build this web application within my free time to deepen my knowledge in the web development and DevOps.
        </p>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <div class="col-lg-6" id="introHi">
                <p>Hi there, my name is</p>
            </div>
            <div class="col-lg-6" id="introName">
                <p>Mr. DevOps.</p>
            </div>
            <div  class="col-lg-12" id="introTaget">
                <p>I help companies to deliver new features faster to their clients.</p>
            </div>
            <div class="col-lg-10" id="introCurrentTarge">
                <p>
                I am a DevOps Engineer who is currently helping to automate environment for developers to stay solely focused on code.
                </p>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>


