<% layout('layouts/boilerplate') %>

<div class="row justify-content-around">
    <h3>Projects</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
            laboriosam voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
            nobis?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
            laboriosam voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
            nobis?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
            laboriosamvoluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus nobis?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
            laboriosam voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
            nobis?
        </p>
    </div>