<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-9">
            <div id="myProjects">
                <p>My Projects</p>
                <div id="myProjectsContent">
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic deleniti sed architecto vitae magni
                    laboriosam voluptas ullam corporis ea, eligendi vel, dolor, impedit quod accusantium modi reiciendis doloribus
                    nobis?
                    </p>
                </div>
            </div>
        </div> 
        <!-- <div class="col">
        </div> -->
        <div class="col">
        </div>
    </div>
</div>
