<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <!-- <div class="col-lg2">
        </div> -->
        <div class="col-lg-5" id="spaces">
        </div>
        <!-- <div class="col-lg-5" id="spaces">
        </div> -->
        <!-- <div class="col-lg-2">
        </div> -->
    </div>
</div>
